body {
    background-color: lightskyblue;
}

h2 {
    text-align: center;
    font-size:40px;
}

.geloof-websites {
    text-align: center;
    font-size: medium;
    size: 20spx;
}

a {
    color: black;
    border: 3px solid white;
    border-radius: 15px;
    padding: 4px;
}
